.sym-container {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas: "sidebar content";
  height: 100vh;
  background-color: #1e1e1e;
  color: #ffffff;
}
