.sym-navigation {
  grid-area: sidebar;
  display: flex;
  padding: 6rem 1.5rem;
  color: #ffffff;
}

.sym-navigation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sym-navigation-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #2f2f2f;
}

.sym-navigation-body {
  padding: 3rem 0;
}

.sym-navigation-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sym-navigation-menu .sym-navigation-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sym-navigation-menu .sym-navigation-item a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #8e8e8e;
}

.sym-navigation-menu .sym-navigation-item:hover a,
.sym-navigation-menu .sym-navigation-item.is-active a {
  padding: 0.5rem 1rem;
  background-color: #2f2f2f;
  color: #ffffff;
}

.sym-navigation-menu .sym-navigation-item.is-active a:hover {
  filter: brightness(1.1);
}

.sym-navigation-footer {
  padding-top: 1.5rem;
  border-top: 1px solid #2f2f2f;
}

.sym-navigation-footer span {
  font-size: 0.75rem;
}
